APP_NAME={{.HotelName}}
APP_ENV=production
APP_KEY={{.AppKey}}
APP_DEBUG=false
APP_URL=https://{{.Domain}}

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST={{.DbHost}}
DB_PORT=3306
DB_DATABASE=habnut
DB_USERNAME=habnut
DB_PASSWORD={{.DbPass}}

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST={{.RedisHost}}
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST={{.MailHost}}
MAIL_PORT={{.MailPort}}
MAIL_USERNAME={{.MailUser}}
MAIL_PASSWORD={{.MailPass}}
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@{{.Domain}}
MAIL_FROM_NAME="${APP_NAME}"

EMULATOR_HOST=emulator
EMULATOR_PORT=8080
GRAFANA_URL=http://grafana:3000

HABNUT_TICKET_TTL_MINUTES=5
