[Unit]
Description=Run the Habnut website's scheduled tasks every minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=5s

[Install]
WantedBy=timers.target
