[Unit]
Description=Check every five minutes that a player can use Habnut

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
